body {
    font-family: 'Poppins', sans-serif;
    margin: 0%;
    padding: 0px;
    box-sizing: border-box;
  }
  
  footer {
    text-align: center;
    padding: 20px;
    background-color: rgb(162, 156, 37);
    
  }
  .container{
    text-align:center;
    font-size: 25px;
    background-color: rgb(162, 156, 37);
    padding: 15px;
    margin-bottom: 10px;
  }
  
   
  #unit {
    background-color:rgb(180, 175, 46);
    font-size: 25px;
  }
  .pricing{
    width: 100%;
    min-height: 110vh;
    background: #5c539d;
  }
  .pricing h2{
    color: #fcf9f9;
    font-size: 38px;
    padding: 5px;
    text-align:center;
    margin-top: -10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }

  .planRow{
    width: 90%;
    max-width: 1100px;
    display:grid;
    justify-content: space-around;
    text-align: center;
    margin: auto;
    grid-gap: 5px;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    background-color: #5c539d;
    border-top: 2px  solid var(--gh-green-6);
  }
  .pricing .planRow .plan .price{
    color: white;
    background: rgb(75, 139, 79);
    font-weight: bolder;
    font-size: 60px;
    margin-top: -10px;
  }
  .pricing .planRow .plan:nth-child(2){
    border:2px solid#000;
  }
  .pricing .planRow .plan .price.year{
    display: none;
  }
  
  .plan {
    
    background: #9bc03f; 
    padding: 50px;
    color:#000;
    text-align: center;
    box-shadow: 0 10px 15px rgba(55, 69, 58, 0.3);
    width: 200px;
    margin-top: -10px;
    font-size: 30px;
    font-family:'Times New Roman', Times, serif;
    
    }
  
  .plan button {
    background-color:darkgray;
    color:black ;
    padding:10px;
    cursor: pointer;
    width: 100%;
    transition:background 0.5s;
    font-size: 20px;
  }
  .plan button:hover{
    background:rgb(99, 110, 99);
  }
  .plan ul{
    text-align:left;
    margin:15px 0;
    color:black;
    list-style: none;
    font-size: 20px;
  }
  .plan ul li {
    margin:15px 0;
    border-top: 0.4rem solid var(--gh-grey-60);

  }
  
  .plan h2{
    font-size: 25px;
  }
  .plan .basic-price {
    color:#000;
    font-size: 20px;
  }
  .plan .advance-price{
    color:#000;
    font-size: 20px;
  } 
  .price{
    color: black;
    background-color: antiquewhite;
    font-size: 20px;
  }
  
  @media (max-width:450px){
    .container .box-container{
      grid-template-columns: 1fr;
    }
  }